spring.application.name=shopping-cart-spring

# Database
spring.datasource.url=jdbc:mysql://localhost:3306/<database>
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Hibernate
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# JWT
jwt.secret=<jwt_secret>
jwt.expiration=3600000

# Static Resources for public access
spring.web.resources.static-locations=classpath:/static/,classpath:/public/

# Stripe API
stripe.api.key=<sk_test_secret_key>

# Session Timeout
server.servlet.session.timeout=30m